---
---

@import index, font, basic, layout, classes

@media (min-width: 40em)
  body > header, body > article, body > footer
    padding: 1.75em calc(40% - 17em)

body > header, body > footer
  box-sizing: border-box
  min-height: 5.25rem
  padding-top: 1rem
  padding-bottom: 1rem

body > header a, body > footer a
  color: #212228
  &:hover
    color: $link-color
    text-decoration: none

{% if site.minimal %}

body > header
  background: $light
  color: #212228
  font-size: calc(1em + 2pt)
  font-weight: bold
  border-bottom: 1px solid $dark
  position: sticky
  top: 0
  z-index: 100

{% else %}

body > header
  box-shadow: 0 0 .6em rgba($dark, 0.04)
  border-bottom: 1px solid reduce(14)

{% endif %}

body > footer
  color: #212228
  border-top: 1px solid $dark
  opacity: .9
